@charset "utf-8";

/* ▼ スマホサイズ用*/
#content {
    padding: 0 25px;
}

#content h3 {
    position: relative;
    padding-bottom: 7px;
    margin: 25px auto 20px auto; 
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 18px;
    width: fit-content;
    border-bottom: 2px solid #7E8772;
}

#content .product_box {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto 15px auto;
    max-width: 407px;
    height: auto;
    background-color: #F2F2F2;
    box-shadow: 7px 7px 4px rgba(204,194,154,.75);
}
#content .product_box p:first-child img {
    width: 138px;
    height: auto;
    margin-right: 25px;
    border: 1px solid #000;
}
#content .product_box p:last-child span {
    font-size: 15px;
    line-height: 26px;
}
#content .product_box p:last-child  {
    line-height: 22px;
}




/* ▼ PC用*/
@media screen and (min-width:501px){
	#content h3 {
        font-size: 29px;
    }

    #content h3 + div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    #content .product_box {
        display: block;
        width: 250px;
        padding: 2%;
        margin: 3%;
    }

    #content .product_box p:first-child img {
        width: 180px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #content .product_box p:first-child {
        text-align: center;
    }

    #content .product_box p:last-child span {
        font-size: 22px;
        line-height: 36px;
    }
}